// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

/* color start */
$font-cy: #FFB600;//黄色字体
$font-cb: #0665BB;//蓝色字体
$font-cw: #fff;
$border-cb: #0665BB;
$background-fb: #0665BB ;
$background-cy: #FFB600;
$background-cw: #fff;
$background-cg: #F0F2F5;//左侧背景色
$background-cg1: #FAFAFA;//表格背景色
/* color end */

/* font start */
$font-family: 'Microsoft YaHei';
$font-family1: 'Arial';
/* font end */